.uploadGroup {
  position: fixed;
  bottom: 0;
  left: 10vw;
  z-index: 999;
}

.uploadBtn {
  width: 80px;
  background-color: #192a56;
  color: aliceblue;
  border-bottom: 0;
  border-radius: 16px 16px 0 0;
}
