.ant-divider-horizontal.ant-divider-with-text {
  border-top: 1px solid #bdc3c7;
  opacity: 80%;
  color: aliceblue;
  border-top: 0;
}

.container {
  max-width: 100%;
  width: 1128px;
  padding: 0 24px;
  margin: 0 auto;
}