@import '~antd/dist/antd.css';

html {
  padding: 0 0;
  overflow-x: hidden;
}

.App {
  width: 100vw;
  background-color: #273c75;
  clear: both;
  border: solid 0px black;
  padding: 1px;
}

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.header .container {
  font-family: "Gill Sans", sans-serif;
  font-size: 3.5vmin;
  text-align: right;
  color: #ecf0f1;
}

.logo {
  display: inline-block;
  width: 48.3vmin;
}

.avatar {
  width: 5vmin;
  border-radius: 1vmin;
  text-decoration: none;
}

.main {
  margin: 40px 0;
}

.footer {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ecf0f1;
  text-align: center;
  padding-bottom: 40px;
}

.footer a {
  color: #27ae60;
}

.container {
  max-width: 100%;
  width: 1128px;
  padding: 0 24px;
  margin: 0 auto;
}

#photo-container {
  position: relative;
}

.image {
  border-radius: 4px;
}